<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' type="text/css" href='stylesheets/indexModule.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
    <h1>記帳資料</h1>
    <input type="submit" id="myBtn" value='Add'>
    <table style="width:100%">
        <tr>
            <th>日期<input type="submit" id="sort_myBtn" onclick="sort_mess(0)" value="ˇ"></th>
            <th id="sort_myBtn">性質<input type="submit" id="sort_myBtn" onclick="sort_mess(1)" value="ˇ"></th>
            <th id="sort_myBtn">項目<input type="submit" id="sort_myBtn" onclick="sort_mess(2)" value="ˇ"></th>
            <th id="sort_myBtn">金額<input type="submit" id="sort_myBtn" onclick="sort_mess(3)" value="ˇ"></th>
            <th>備註</th>
            <th>編輯</th>
        </tr>
        <% for( var i=0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= changeyymmdd(data[i].account_time) %>
                </td>
                <td>
                    <%= data[i].account_class %>
                </td>
                <td>
                    <%= data[i].account_tradeclass %>
                </td>
                <td>
                    <%= data[i].account_price %>
                </td>
                <td>
                    <%= data[i].account_note %>
                </td>
                <td>
                    <input type="button" name="edit" value="Edit" onclick="Edit('<%= data[i].id_account  %>');" />
                </td>
            </tr>
            <% } %>
    </table>
    <div>
       
        </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form name="addform" action="/userAdd" method="post" accept-charset="utf-8">
                <h1>記帳 - 新增</h1>
                <div>
                    <label>日期</label>
                    <input type="date" name="time" />
                </div>
                <div>
                    <label>性質</label>
                    <select name="class">
            　<option value="收益">收益</option>
            　<option value="支出">支出</option>
          </select>
                </div>
                <div>
                    <label>項目</label>
                    <select name="tradeclass">
            　<option value="營業外收入">營業外收入</option>
          </select>
                </div>
                <div>
                    <label>金額</label>
                    <input type="text" name="price" placeholder="金額">
                </div>
                <div>
                    <label>備註</label>
                    <input type="textarea" name="note" placeholder="備註" />
                </div>
                <div>
                    <input type='submit' value='Submit'>
                    <input type='reset' value='Reset'>
                    <input type='button' value='Back' onclick="javascript: location.href='/'">
                </div>
            </form>
        </div>

    </div>
    <!--sort modal-->
    <div id="sortＭodal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            
           

        </div>
    </div>

    <script src="javascripts/indexScript.js"></script>
    <script>
        function Edit(id) {
            window.location.href = "/userEdit?id=" + id;
        }

        function sort(id) {
            window.location.href = "/sort?id=" + id;
        }


//排序彈窗

function sort_mess(sort_id) {　

var  sort_all="<span class='sort_close'>&times;</span>";
sort_all+="<form name='sortform' action='sort' method='post' accept-charset='utf-8'>";
sort_all+="<h1>排序</h1>";
sort_all+="<div><button onclick='sort(0,"+sort_id+")'>A-Z排序</button><button onclick='sort(1,"+sort_id+")'>Z-A排序</button></div>";
sort_all+="<input type='hidden' name='sort_where_time' value='<%=sort_where_time%>'>";
sort_all+="<input type='hidden' name='sort_where_class' value='<%=sort_where_class%>'>";
sort_all+="<input type='hidden' name='sort_where_tradeclass' value='<%=sort_where_tradeclass%>'>";
sort_all+="<input type='hidden' name='sort_where_price' value='<%=sort_where_price%>'>";
switch (sort_id){
    case 0:
    sort_all+="<div><select name='account_time' size='5' multiple>";
    sort_all+="<option value='全部'>全部</option>";
    sort_all+="<% for( var i=0 ; i < sort_time.length ; i++){ %>";
    sort_all+="<option value='<%= sort_time[i] %>'><%= sort_time[i] %></option>";
    sort_all+="<% } %>";
    sort_all+="</select>";
        break;
    case 1:
    sort_all+="<div><select name='account_class' size='5' multiple>";
    sort_all+="<option value='全部'>全部</option>";
    sort_all+="<% for( var i=0 ; i < sort_class.length ; i++){ %>";
    sort_all+="<option value='<%= sort_class[i] %>'><%= sort_class[i] %></option>";
    sort_all+="<% } %>";
    sort_all+="</select>";
        break;
    case 2:
    sort_all+="<div><select name='account_tradeclass' size='5' multiple>";
    sort_all+="<option value='全部'>全部</option>";
    sort_all+="<% for( var i=0 ; i < sort_tradeclass.length ; i++){ %>";
    sort_all+="<option value='<%= sort_tradeclass[i] %>'><%= sort_tradeclass[i] %></option>";
    sort_all+="<% } %>";
    sort_all+="</select>";
        break;
    case 3:
    sort_all+="<div><select name='account_price' size='5' multiple>";
    sort_all+="<option value='全部'>全部</option>";
    sort_all+="<% for( var i=0 ; i < sort_price.length ; i++){ %>";
    sort_all+="<option value='<%= sort_price[i] %>'><%= sort_price[i] %></option>";
    sort_all+="<% } %>";
    sort_all+="</select>";
        break;
}

sort_all+="</div>";
sort_all+="";
sort_all+="<input type='submit' value='Submit'>";
sort_all+="</form>";
 
  
document.getElementsByClassName("modal-content")[1].innerHTML=sort_all;
var sort_modal= document.getElementById("sortＭodal");
sort_modal.style.display="block";
// When the user clicks on <span> (x), close the modal
var sort_span = document.getElementsByClassName("sort_close")[0];
sort_span.onclick = function() {
sort_modal.style.display = "none";
}
}
    </script>
</body>

</html>